<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BookMe</title>
</head>

<body>
    <a href="/">Home</a> <br>
    <a href="/logout">Logout</a> <br>
    <% if (guest) { %>
    <a href="/book/<%= guest.id %>/view">Check My Bookings!</a> <br>
    <a href="/book/<%= guest.id %>/rate">Rate Hotel!</a>
    <% } %>
    <% if (error) { %>
    <h2><%= error %> </h2>
    <% } %>

    <% if (admin === 'admin') { %>
    <%- include('partials/formAdmin') %>
    <% } else { %>
    <%- include('partials/formUser', {name}) %>
    <% } %>

    <br>

    <form action="/book" method="get">
        <select name="sortBy">
            <option value="price">Price</option>
            <option value="rating">Rating</option>
            <option value="room">Room Stock</option>
        </select>
        <select name="sortType">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <input type="submit" value="Sort!">
    </form>
    <br>
    <table border="1px" style="width: 100%;">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Address</td>
                <td>Available Room</td>
                <td>Rating</td>
                <td>Price</td>
                <% if (admin==='admin') { %>
                <td>Action</td>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(el => { %>
            <tr>
                <td><%= el.id %> </td>
                <td><%= el.name %> </td>
                <td><%= el.address %> </td>
                <td><%= el.room_stock %> </td>
                <td><%= el.avgRating %> </td>
                <td><%= currencyFormat(el.price) %> </td>
                <!-- if (admin === 'admin') -->
                <% if (admin==='admin') { %>
                <td>
                    <a href="/hotel/<%= el.id %>/edit">Edit</a> |
                    <a href="/hotel/<%= el.id %>/delete">Delete</a>
                </td>
                <% } %>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>